USE [db_lap_top]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[LinkUrl] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangs]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NULL,
	[SanPhamId] [int] NULL,
	[KichThuocSanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaMua] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChiTietDonHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhaps]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[KichThuoc] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[SoLuongNhap] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_ChiTietPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGias]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[SanPhamId] [int] NULL,
	[SoSao] [int] NULL,
	[BinhLuan] [nvarchar](1000) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[DonHangId] [int] NULL,
 CONSTRAINT [PK_DanhGias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMucs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[TongGiaTri] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TenNguoiNhan] [nvarchar](50) NOT NULL,
	[SoDienThoaiNhan] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[DiaChiNhan] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangs]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[KichThuocSanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GioHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuocSanPhams]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuocSanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[KichThuoc] [nvarchar](10) NOT NULL,
	[MauSac] [nvarchar](50) NOT NULL,
	[TonKho] [int] NOT NULL,
	[Gia] [decimal](18, 2) NULL,
	[GiaGiam] [decimal](18, 2) NULL,
	[IsTieuChuan] [bit] NOT NULL,
 CONSTRAINT [PK_KichThuocSanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHes]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ChuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[PhanHoiAdmin] [nvarchar](max) NULL,
	[NgayGui] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LienHes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [nvarchar](50) NOT NULL,
	[NgayNhap] [datetime2](7) NOT NULL,
	[NhaCungCap] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TongGiaTri] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NguoiTaoId] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamAnhs]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamAnhs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DuongDan] [nvarchar](500) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[IsMain] [bit] NOT NULL,
	[MauSac] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPhamAnhs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[GiaGiam] [decimal](18, 2) NULL,
	[ChatLieu] [nvarchar](50) NOT NULL,
	[DuongDanAnh] [nvarchar](500) NULL,
	[DanhMucId] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[ThuongHieu] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToans]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NULL,
	[PhuongThuc] [nvarchar](50) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ThanhToans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThichs]    Script Date: 9/16/2026 10:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThichs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_YeuThichs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250621161204_InitialCreate', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250622104837_AddAddressAndNoteToOrder', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250622161955_AddDonHangIdToDanhGia', N'9.0.6')
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([Id], [ImageUrl], [Title], [LinkUrl], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (3, N'images/banners/banner_464676c294c5441cae5df115e3245c03.png', NULL, NULL, 1, 1, CAST(N'2026-09-10T15:04:57.2765867' AS DateTime2))
INSERT [dbo].[Banners] ([Id], [ImageUrl], [Title], [LinkUrl], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (5, N'images/banners/banner_4ecfa3b9ef8541358586ae2fd32d5985.png', NULL, NULL, 2, 1, CAST(N'2026-09-10T15:15:59.0465344' AS DateTime2))
INSERT [dbo].[Banners] ([Id], [ImageUrl], [Title], [LinkUrl], [DisplayOrder], [IsActive], [CreatedAt]) VALUES (6, N'images/banners/banner_613dd6f9e9374ed99479b157184d9948.png', NULL, NULL, 3, 1, CAST(N'2026-09-10T15:16:06.5513216' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] ON 

INSERT [dbo].[ChiTietDonHangs] ([Id], [DonHangId], [SanPhamId], [KichThuocSanPhamId], [SoLuong], [GiaMua], [NgayTao]) VALUES (6, 5, 2, 4, 1, CAST(7290000.00 AS Decimal(18, 2)), CAST(N'2025-11-25T14:42:02.2670880' AS DateTime2))
INSERT [dbo].[ChiTietDonHangs] ([Id], [DonHangId], [SanPhamId], [KichThuocSanPhamId], [SoLuong], [GiaMua], [NgayTao]) VALUES (7, 6, 1, 2, 1, CAST(7290000.00 AS Decimal(18, 2)), CAST(N'2025-11-25T14:51:47.9437776' AS DateTime2))
INSERT [dbo].[ChiTietDonHangs] ([Id], [DonHangId], [SanPhamId], [KichThuocSanPhamId], [SoLuong], [GiaMua], [NgayTao]) VALUES (8, 7, 5, 10, 1, CAST(5690000.00 AS Decimal(18, 2)), CAST(N'2025-11-25T14:52:18.5741091' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhaps] ON 

INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [PhieuNhapId], [SanPhamId], [KichThuoc], [MauSac], [SoLuongNhap], [GiaNhap], [ThanhTien], [GhiChu]) VALUES (1, 2, 1, N'XL', NULL, 5, CAST(1690000.00 AS Decimal(18, 2)), CAST(8450000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [PhieuNhapId], [SanPhamId], [KichThuoc], [MauSac], [SoLuongNhap], [GiaNhap], [ThanhTien], [GhiChu]) VALUES (2, 2, 8, N'M', N'đỏ', 5, CAST(275000.00 AS Decimal(18, 2)), CAST(1375000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [PhieuNhapId], [SanPhamId], [KichThuoc], [MauSac], [SoLuongNhap], [GiaNhap], [ThanhTien], [GhiChu]) VALUES (3, 2, 9, N'XL', NULL, 5, CAST(699000.00 AS Decimal(18, 2)), CAST(3495000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhaps] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGias] ON 

INSERT [dbo].[DanhGias] ([Id], [NguoiDungId], [SanPhamId], [SoSao], [BinhLuan], [TrangThai], [NgayTao], [DonHangId]) VALUES (1, 2, 1, 5, N'oke lam', N'Hiển thị', CAST(N'2025-09-29T22:42:32.5927099' AS DateTime2), 1)
INSERT [dbo].[DanhGias] ([Id], [NguoiDungId], [SanPhamId], [SoSao], [BinhLuan], [TrangThai], [NgayTao], [DonHangId]) VALUES (2, 4, 8, 5, N'oke la', N'Hiển thị', CAST(N'2025-11-01T18:37:17.9570220' AS DateTime2), 2)
INSERT [dbo].[DanhGias] ([Id], [NguoiDungId], [SanPhamId], [SoSao], [BinhLuan], [TrangThai], [NgayTao], [DonHangId]) VALUES (3, 4, 1, 5, N'okedas', N'Hiển thị', CAST(N'2025-11-14T00:19:45.4071497' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[DanhGias] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucs] ON 

INSERT [dbo].[DanhMucs] ([Id], [Ten], [MoTa], [NgayTao], [DuongDanAnh]) VALUES (1, N'Laptop Gaming', N'Laptop chuyên game', CAST(N'2025-09-29T19:52:56.2700000' AS DateTime2), N'images/cat_799fd0af.jpg')
INSERT [dbo].[DanhMucs] ([Id], [Ten], [MoTa], [NgayTao], [DuongDanAnh]) VALUES (2, N'Laptop Văn Phòng', N'Laptop cho công việc văn phòng', CAST(N'2025-09-29T19:52:56.2766667' AS DateTime2), N'images/cat_1ef64550.webp')
INSERT [dbo].[DanhMucs] ([Id], [Ten], [MoTa], [NgayTao], [DuongDanAnh]) VALUES (3, N'Thinkbook', N'gọn nhẹ', CAST(N'2025-09-29T20:31:47.0353075' AS DateTime2), N'images/cat_f99fa296.webp')
SET IDENTITY_INSERT [dbo].[DanhMucs] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangs] ON 

INSERT [dbo].[DonHangs] ([Id], [NguoiDungId], [TongGiaTri], [TrangThai], [TenNguoiNhan], [SoDienThoaiNhan], [NgayTao], [DiaChiNhan], [GhiChu]) VALUES (1, 2, CAST(64000000.00 AS Decimal(18, 2)), N'Đã giao', N'A de min', N'01231421321', CAST(N'2025-09-29T15:41:52.7033359' AS DateTime2), N'hihi', NULL)
INSERT [dbo].[DonHangs] ([Id], [NguoiDungId], [TongGiaTri], [TrangThai], [TenNguoiNhan], [SoDienThoaiNhan], [NgayTao], [DiaChiNhan], [GhiChu]) VALUES (2, 4, CAST(275000.00 AS Decimal(18, 2)), N'Đã giao', N'Test', N'0376760356', CAST(N'2025-11-01T11:35:37.8842548' AS DateTime2), N'HCM', NULL)
INSERT [dbo].[DonHangs] ([Id], [NguoiDungId], [TongGiaTri], [TrangThai], [TenNguoiNhan], [SoDienThoaiNhan], [NgayTao], [DiaChiNhan], [GhiChu]) VALUES (3, 4, CAST(1690000.00 AS Decimal(18, 2)), N'Đã giao', N'Test', N'0376760356', CAST(N'2025-11-13T17:18:49.9536333' AS DateTime2), N'HCM', N'dsa')
SET IDENTITY_INSERT [dbo].[DonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHangs] ON 

INSERT [dbo].[GioHangs] ([Id], [NguoiDungId], [KichThuocSanPhamId], [SoLuong], [NgayTao]) VALUES (19, 1, 2, 1, CAST(N'2025-11-28T16:21:26.1604536' AS DateTime2))
INSERT [dbo].[GioHangs] ([Id], [NguoiDungId], [KichThuocSanPhamId], [SoLuong], [NgayTao]) VALUES (24, 2, 4, 2, CAST(N'2026-09-10T16:36:43.8314104' AS DateTime2))
INSERT [dbo].[GioHangs] ([Id], [NguoiDungId], [KichThuocSanPhamId], [SoLuong], [NgayTao]) VALUES (2028, 2, 41, 1, CAST(N'2026-09-16T21:58:48.3981265' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GioHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[KichThuocSanPhams] ON 

INSERT [dbo].[KichThuocSanPhams] ([Id], [SanPhamId], [KichThuoc], [MauSac], [TonKho], [Gia], [GiaGiam], [IsTieuChuan]) VALUES (2, 1, N'512GB', N'Xám', 10, CAST(200000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[KichThuocSanPhams] ([Id], [SanPhamId], [KichThuoc], [MauSac], [TonKho], [Gia], [GiaGiam], [IsTieuChuan]) VALUES (4, 2, N'256GB', N'Xám', 7, CAST(30000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[KichThuocSanPhams] ([Id], [SanPhamId], [KichThuoc], [MauSac], [TonKho], [Gia], [GiaGiam], [IsTieuChuan]) VALUES (5, 2, N'512GB', N'Xám', 2, CAST(40000.00 AS Decimal(18, 2)), NULL, 0)
SET IDENTITY_INSERT [dbo].[KichThuocSanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHes] ON 

INSERT [dbo].[LienHes] ([Id], [NguoiDungId], [HoTen], [Email], [ChuDe], [NoiDung], [TrangThai], [PhanHoiAdmin], [NgayGui]) VALUES (1, 4, N'Test', N'test@gmail.com', N'Tin nhắn từ khách hàng', N'hiehqasd', N'Đã phản hồi', N'oke fen', CAST(N'2025-11-04T14:23:45.5896871' AS DateTime2))
INSERT [dbo].[LienHes] ([Id], [NguoiDungId], [HoTen], [Email], [ChuDe], [NoiDung], [TrangThai], [PhanHoiAdmin], [NgayGui]) VALUES (2, 4, N'Test', N'test@gmail.com', N'Tin nhắn từ khách hàng', N'hja;a', N'Đã phản hồi', N'Oke ', CAST(N'2025-11-13T17:24:05.4897407' AS DateTime2))
INSERT [dbo].[LienHes] ([Id], [NguoiDungId], [HoTen], [Email], [ChuDe], [NoiDung], [TrangThai], [PhanHoiAdmin], [NgayGui]) VALUES (3, 4, N'Test', N'info.ngoctan2025@gmail.com', N'Tin nhắn từ khách hàng', N'd ad', N'Đã phản hồi', N'dá', CAST(N'2025-11-13T17:26:32.3155690' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LienHes] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([Id], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [VaiTro], [NgayTao]) VALUES (1, N'khach', N'$2a$11$wlAtmCvhPwBaCryz6dyZwugHkfbEhCulKwU81qr.qQjeyiUs8ZPvm', N'Thượng Đế', N'Khach@gmail.com', N'09123241421', N'KhachHang', CAST(N'2025-09-29T19:38:11.5884503' AS DateTime2))
INSERT [dbo].[NguoiDungs] ([Id], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [VaiTro], [NgayTao]) VALUES (2, N'admin', N'$2a$11$f1/DzstbWCQxv16D5sXTIeZ6jBqcaETytHouDvi6LDLIEdPqNeEIC', N'Quản trị viên', N'admin@gmail.com', N'01231421321', N'Admin', CAST(N'2025-09-29T19:39:25.9415514' AS DateTime2))
INSERT [dbo].[NguoiDungs] ([Id], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [VaiTro], [NgayTao]) VALUES (3, N'hihi', N'$2a$11$2FjL9YdKjGfZz7.cmPIvvuR..m9AKSy5L/0xs3fjHqxgF7AfBB3EG', N'NGUYEN HIHI', N'hihi@gmail.com', N'0376760356', N'KhachHang', CAST(N'2025-11-01T18:31:42.0142330' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhaps] ON 

INSERT [dbo].[PhieuNhaps] ([Id], [MaPhieuNhap], [NgayNhap], [NhaCungCap], [GhiChu], [TongGiaTri], [TrangThai], [NguoiTaoId], [NgayTao]) VALUES (2, N'PN20251103211624', CAST(N'2025-11-03T00:00:00.0000000' AS DateTime2), N'Hàng TQ', NULL, CAST(13320000.00 AS Decimal(18, 2)), N'Hoàn thành', 2, CAST(N'2025-11-03T21:20:08.4276797' AS DateTime2))
INSERT [dbo].[PhieuNhaps] ([Id], [MaPhieuNhap], [NgayNhap], [NhaCungCap], [GhiChu], [TongGiaTri], [TrangThai], [NguoiTaoId], [NgayTao]) VALUES (3, N'PN20251103221153', CAST(N'2025-11-03T00:00:00.0000000' AS DateTime2), N'TLIET', NULL, CAST(32790000.00 AS Decimal(18, 2)), N'Hoàn thành', 2, CAST(N'2025-11-03T22:12:49.3619919' AS DateTime2))
INSERT [dbo].[PhieuNhaps] ([Id], [MaPhieuNhap], [NgayNhap], [NhaCungCap], [GhiChu], [TongGiaTri], [TrangThai], [NguoiTaoId], [NgayTao]) VALUES (4, N'PN20251106215850', CAST(N'2025-11-06T00:00:00.0000000' AS DateTime2), N'TLIET', NULL, CAST(8450000.00 AS Decimal(18, 2)), N'Hoàn thành', 2, CAST(N'2025-11-06T22:06:40.2085799' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PhieuNhaps] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamAnhs] ON 

INSERT [dbo].[SanPhamAnhs] ([Id], [DuongDan], [SanPhamId], [IsMain], [MauSac]) VALUES (150, N'images/sp_12_858b858f.webp', 12, 0, NULL)
INSERT [dbo].[SanPhamAnhs] ([Id], [DuongDan], [SanPhamId], [IsMain], [MauSac]) VALUES (151, N'images/sp_12_220a2d0d.webp', 12, 1, NULL)
INSERT [dbo].[SanPhamAnhs] ([Id], [DuongDan], [SanPhamId], [IsMain], [MauSac]) VALUES (152, N'images/sp_12_65fec422.webp', 12, 0, NULL)
SET IDENTITY_INSERT [dbo].[SanPhamAnhs] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

INSERT [dbo].[SanPhams] ([Id], [Ten], [MoTa], [Gia], [GiaGiam], [ChatLieu], [DuongDanAnh], [DanhMucId], [NgayTao], [SoLuongBan], [ThuongHieu]) VALUES (3, N'Apple MacBook Air M2 2024 8CPU 8GPU 16GB 256GB ', N'Apple Macbook Air M2 2024 16GB 256GB thiết kế siêu mỏng 1.13cm, trang bị chip M2 8 nhân GPU, 16 nhân Neural Engine, RAM khủng 16GB, SSD 256GB, màn hình IPS Liquid Retina Display cùng hệ thống 4 loa cho trải nghiệm đỉnh cao.', CAST(50000.00 AS Decimal(18, 2)), NULL, N'Nhôm', N'images/sp_3_8ac4ca66.jpg', 4, CAST(N'2025-09-29T15:25:22.6988892' AS DateTime2), 0, N'Apple ')
SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToans] ON 

INSERT [dbo].[ThanhToans] ([Id], [DonHangId], [PhuongThuc], [SoTien], [NgayTao], [TrangThai]) VALUES (1, 1018, N'MoMo QR', CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-09-15T07:17:49.4832396' AS DateTime2), N'Chờ thanh toán')
INSERT [dbo].[ThanhToans] ([Id], [DonHangId], [PhuongThuc], [SoTien], [NgayTao], [TrangThai]) VALUES (2, 1019, N'Tiền Mặt', CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-09-15T07:22:03.9202034' AS DateTime2), N'Chưa thanh toán')
INSERT [dbo].[ThanhToans] ([Id], [DonHangId], [PhuongThuc], [SoTien], [NgayTao], [TrangThai]) VALUES (3, 1020, N'MoMo QR', CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-09-15T07:22:34.0280427' AS DateTime2), N'Chờ thanh toán')
SET IDENTITY_INSERT [dbo].[ThanhToans] OFF
GO
SET IDENTITY_INSERT [dbo].[YeuThichs] ON 

INSERT [dbo].[YeuThichs] ([Id], [NguoiDungId], [SanPhamId], [NgayTao]) VALUES (7, 4, 5, CAST(N'2025-11-04T20:45:45.0097292' AS DateTime2))
INSERT [dbo].[YeuThichs] ([Id], [NguoiDungId], [SanPhamId], [NgayTao]) VALUES (13, 4, 1, CAST(N'2025-11-14T00:24:10.4035778' AS DateTime2))
INSERT [dbo].[YeuThichs] ([Id], [NguoiDungId], [SanPhamId], [NgayTao]) VALUES (14, 1, 1, CAST(N'2025-11-27T20:55:05.8298470' AS DateTime2))
SET IDENTITY_INSERT [dbo].[YeuThichs] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHangs] ADD  DEFAULT ((0)) FOR [KichThuocSanPhamId]
GO
ALTER TABLE [dbo].[DonHangs] ADD  DEFAULT (N'') FOR [DiaChiNhan]
GO
ALTER TABLE [dbo].[KichThuocSanPhams] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsTieuChuan]
GO
ALTER TABLE [dbo].[SanPhamAnhs] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMain]
GO
ALTER TABLE [dbo].[SanPhams] ADD  DEFAULT ((0)) FOR [DanhMucId]
GO
ALTER TABLE [dbo].[SanPhams] ADD  DEFAULT (N'') FOR [ThuongHieu]
GO
ALTER TABLE [dbo].[ThanhToans] ADD  DEFAULT (N'') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_DonHangs_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_DonHangs_DonHangId]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_KichThuocSanPhams_KichThuocSanPhamId] FOREIGN KEY([KichThuocSanPhamId])
REFERENCES [dbo].[KichThuocSanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_KichThuocSanPhams_KichThuocSanPhamId]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_PhieuNhapId] FOREIGN KEY([PhieuNhapId])
REFERENCES [dbo].[PhieuNhaps] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_PhieuNhapId]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_DonHangs_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([Id])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_DonHangs_DonHangId]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[GioHangs]  WITH CHECK ADD  CONSTRAINT [FK_GioHangs_KichThuocSanPhams_KichThuocSanPhamId] FOREIGN KEY([KichThuocSanPhamId])
REFERENCES [dbo].[KichThuocSanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangs] CHECK CONSTRAINT [FK_GioHangs_KichThuocSanPhams_KichThuocSanPhamId]
GO
ALTER TABLE [dbo].[GioHangs]  WITH CHECK ADD  CONSTRAINT [FK_GioHangs_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangs] CHECK CONSTRAINT [FK_GioHangs_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[KichThuocSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_KichThuocSanPhams_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KichThuocSanPhams] CHECK CONSTRAINT [FK_KichThuocSanPhams_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[LienHes]  WITH CHECK ADD  CONSTRAINT [FK_LienHes_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[LienHes] CHECK CONSTRAINT [FK_LienHes_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[PhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhaps_NguoiDungs_NguoiTaoId] FOREIGN KEY([NguoiTaoId])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhaps] CHECK CONSTRAINT [FK_PhieuNhaps_NguoiDungs_NguoiTaoId]
GO
ALTER TABLE [dbo].[SanPhamAnhs]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamAnhs_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamAnhs] CHECK CONSTRAINT [FK_SanPhamAnhs_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMucs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId]
GO
ALTER TABLE [dbo].[ThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToans_DonHangs_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([Id])
GO
ALTER TABLE [dbo].[ThanhToans] CHECK CONSTRAINT [FK_ThanhToans_DonHangs_DonHangId]
GO
ALTER TABLE [dbo].[YeuThichs]  WITH CHECK ADD  CONSTRAINT [FK_YeuThichs_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuThichs] CHECK CONSTRAINT [FK_YeuThichs_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[YeuThichs]  WITH CHECK ADD  CONSTRAINT [FK_YeuThichs_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuThichs] CHECK CONSTRAINT [FK_YeuThichs_SanPhams_SanPhamId]
GO
