# Visual Studio
.vs/
*.user
*.suo

# Build output
[Bb]in/
[Oo]bj/

# ASP.NET Core
appsettings.Local.json

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
