USE [db_laptop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangs]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NULL,
	[SanPhamId] [int] NULL,
	[KichThuocSanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaMua] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChiTietDonHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGias]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[SanPhamId] [int] NULL,
	[SoSao] [int] NULL,
	[BinhLuan] [nvarchar](1000) NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[DonHangId] [int] NULL,
 CONSTRAINT [PK_DanhGias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[DuongDanAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMucs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[TongGiaTri] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TenNguoiNhan] [nvarchar](50) NOT NULL,
	[SoDienThoaiNhan] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[DiaChiNhan] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangs]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[KichThuocSanPhamId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GioHangs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuocSanPhams]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuocSanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[KichThuoc] [nvarchar](10) NOT NULL,
	[MauSac] [nvarchar](50) NOT NULL,
	[TonKho] [int] NOT NULL,
 CONSTRAINT [PK_KichThuocSanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHes]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ChuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[PhanHoiAdmin] [nvarchar](max) NULL,
	[NgayGui] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LienHes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamAnhs]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamAnhs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DuongDan] [nvarchar](500) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[IsMain] [bit] NOT NULL,
 CONSTRAINT [PK_SanPhamAnhs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[GiaGiam] [decimal](18, 2) NULL,
	[ChatLieu] [nvarchar](50) NOT NULL,
	[DuongDanAnh] [nvarchar](500) NULL,
	[DanhMucId] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[SoLuongBan] [int] NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToans]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NULL,
	[PhuongThuc] [nvarchar](50) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ThanhToans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThichs]    Script Date: 9/30/2025 8:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThichs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_YeuThichs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250621161204_InitialCreate', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250622104837_AddAddressAndNoteToOrder', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250622161955_AddDonHangIdToDanhGia', N'9.0.6')
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] ON 

INSERT [dbo].[ChiTietDonHangs] ([Id], [DonHangId], [SanPhamId], [KichThuocSanPhamId], [SoLuong], [GiaMua], [NgayTao]) VALUES (1, 1, 1, 3, 1, CAST(32000000.00 AS Decimal(18, 2)), CAST(N'2025-09-29T22:41:52.9555166' AS DateTime2))
INSERT [dbo].[ChiTietDonHangs] ([Id], [DonHangId], [SanPhamId], [KichThuocSanPhamId], [SoLuong], [GiaMua], [NgayTao]) VALUES (2, 1, 1, 1, 1, CAST(32000000.00 AS Decimal(18, 2)), CAST(N'2025-09-29T22:41:52.9903565' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGias] ON 

INSERT [dbo].[DanhGias] ([Id], [NguoiDungId], [SanPhamId], [SoSao], [BinhLuan], [TrangThai], [NgayTao], [DonHangId]) VALUES (1, 2, 1, 5, N'oke lam', N'Hiển thị', CAST(N'2025-09-29T22:42:32.5927099' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[DanhGias] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucs] ON 

INSERT [dbo].[DanhMucs] ([Id], [Ten], [MoTa], [NgayTao], [DuongDanAnh]) VALUES (1, N'Laptop Gaming', N'Laptop chuyên game', CAST(N'2025-09-29T19:52:56.2700000' AS DateTime2), N'images/cat_950ee724.png')
INSERT [dbo].[DanhMucs] ([Id], [Ten], [MoTa], [NgayTao], [DuongDanAnh]) VALUES (2, N'Laptop Văn Phòng', N'Laptop cho công việc văn phòng', CAST(N'2025-09-29T19:52:56.2766667' AS DateTime2), N'images/cat_66a9411f.png')
INSERT [dbo].[DanhMucs] ([Id], [Ten], [MoTa], [NgayTao], [DuongDanAnh]) VALUES (3, N'Thinkbook', N'gọn nhẹ', CAST(N'2025-09-29T20:31:47.0353075' AS DateTime2), N'images/cat_4b3154fd.jpg')
SET IDENTITY_INSERT [dbo].[DanhMucs] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangs] ON 

INSERT [dbo].[DonHangs] ([Id], [NguoiDungId], [TongGiaTri], [TrangThai], [TenNguoiNhan], [SoDienThoaiNhan], [NgayTao], [DiaChiNhan], [GhiChu]) VALUES (1, 2, CAST(64000000.00 AS Decimal(18, 2)), N'Đã giao', N'A de min', N'01231421321', CAST(N'2025-09-29T15:41:52.7033359' AS DateTime2), N'hihi', NULL)
SET IDENTITY_INSERT [dbo].[DonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[KichThuocSanPhams] ON 

INSERT [dbo].[KichThuocSanPhams] ([Id], [SanPhamId], [KichThuoc], [MauSac], [TonKho]) VALUES (1, 1, N'256GB', N'', 5)
INSERT [dbo].[KichThuocSanPhams] ([Id], [SanPhamId], [KichThuoc], [MauSac], [TonKho]) VALUES (2, 1, N'512GB', N'', 3)
INSERT [dbo].[KichThuocSanPhams] ([Id], [SanPhamId], [KichThuoc], [MauSac], [TonKho]) VALUES (3, 1, N'1TB', N'', 2)
SET IDENTITY_INSERT [dbo].[KichThuocSanPhams] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([Id], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [VaiTro], [NgayTao]) VALUES (1, N'khach', N'$2a$11$wlAtmCvhPwBaCryz6dyZwugHkfbEhCulKwU81qr.qQjeyiUs8ZPvm', N'NGUYEN VAN KHACH', N'Khach@gmail.com', N'09123241421', N'KhachHang', CAST(N'2025-09-29T19:38:11.5884503' AS DateTime2))
INSERT [dbo].[NguoiDungs] ([Id], [TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [VaiTro], [NgayTao]) VALUES (2, N'admin', N'$2a$11$f1/DzstbWCQxv16D5sXTIeZ6jBqcaETytHouDvi6LDLIEdPqNeEIC', N'A de min', N'admin@gmail.com', N'01231421321', N'Admin', CAST(N'2025-09-29T19:39:25.9415514' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamAnhs] ON 

INSERT [dbo].[SanPhamAnhs] ([Id], [DuongDan], [SanPhamId], [IsMain]) VALUES (1, N'images/sp_1_e2d4fa03.png', 1, 0)
INSERT [dbo].[SanPhamAnhs] ([Id], [DuongDan], [SanPhamId], [IsMain]) VALUES (2, N'images/sp_1_e783a5dc.png', 1, 0)
INSERT [dbo].[SanPhamAnhs] ([Id], [DuongDan], [SanPhamId], [IsMain]) VALUES (3, N'images/sp_1_b0c14084.png', 1, 0)
SET IDENTITY_INSERT [dbo].[SanPhamAnhs] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

INSERT [dbo].[SanPhams] ([Id], [Ten], [MoTa], [Gia], [GiaGiam], [ChatLieu], [DuongDanAnh], [DanhMucId], [NgayTao], [SoLuongBan]) VALUES (1, N'ASUS ROG Strix G15', N'Laptop gaming mạnh mẽ với card RTX 3060', CAST(35000000.00 AS Decimal(18, 2)), CAST(32000000.00 AS Decimal(18, 2)), N'Nhôm', N'images/sp_1_e2d4fa03.png', 1, CAST(N'2025-09-29T19:53:00.2200000' AS DateTime2), 10)
INSERT [dbo].[SanPhams] ([Id], [Ten], [MoTa], [Gia], [GiaGiam], [ChatLieu], [DuongDanAnh], [DanhMucId], [NgayTao], [SoLuongBan]) VALUES (2, N'Dell XPS 13', N'Laptop văn phòng cao cấp, mỏng nhẹ', CAST(28000000.00 AS Decimal(18, 2)), CAST(26000000.00 AS Decimal(18, 2)), N'Nhôm', N'images/sp_2_d31a6942.png', 2, CAST(N'2025-09-29T19:53:00.2200000' AS DateTime2), 5)
INSERT [dbo].[SanPhams] ([Id], [Ten], [MoTa], [Gia], [GiaGiam], [ChatLieu], [DuongDanAnh], [DanhMucId], [NgayTao], [SoLuongBan]) VALUES (3, N'Laptop Dell 15 DC15250 3G7T0', N'dsa', CAST(18990000.00 AS Decimal(18, 2)), NULL, N'Khung Nhôm', N'images/sp_3_02aafcd6.png', 2, CAST(N'2025-09-29T15:25:22.6988892' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHangs] ADD  DEFAULT ((0)) FOR [KichThuocSanPhamId]
GO
ALTER TABLE [dbo].[DonHangs] ADD  DEFAULT (N'') FOR [DiaChiNhan]
GO
ALTER TABLE [dbo].[SanPhamAnhs] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMain]
GO
ALTER TABLE [dbo].[SanPhams] ADD  DEFAULT ((0)) FOR [DanhMucId]
GO
ALTER TABLE [dbo].[ThanhToans] ADD  DEFAULT (N'') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_DonHangs_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_DonHangs_DonHangId]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_KichThuocSanPhams_KichThuocSanPhamId] FOREIGN KEY([KichThuocSanPhamId])
REFERENCES [dbo].[KichThuocSanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_KichThuocSanPhams_KichThuocSanPhamId]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_DonHangs_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([Id])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_DonHangs_DonHangId]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[GioHangs]  WITH CHECK ADD  CONSTRAINT [FK_GioHangs_KichThuocSanPhams_KichThuocSanPhamId] FOREIGN KEY([KichThuocSanPhamId])
REFERENCES [dbo].[KichThuocSanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangs] CHECK CONSTRAINT [FK_GioHangs_KichThuocSanPhams_KichThuocSanPhamId]
GO
ALTER TABLE [dbo].[GioHangs]  WITH CHECK ADD  CONSTRAINT [FK_GioHangs_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangs] CHECK CONSTRAINT [FK_GioHangs_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[KichThuocSanPhams]  WITH CHECK ADD  CONSTRAINT [FK_KichThuocSanPhams_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KichThuocSanPhams] CHECK CONSTRAINT [FK_KichThuocSanPhams_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[LienHes]  WITH CHECK ADD  CONSTRAINT [FK_LienHes_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
GO
ALTER TABLE [dbo].[LienHes] CHECK CONSTRAINT [FK_LienHes_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[SanPhamAnhs]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamAnhs_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamAnhs] CHECK CONSTRAINT [FK_SanPhamAnhs_SanPhams_SanPhamId]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMucs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_DanhMucs_DanhMucId]
GO
ALTER TABLE [dbo].[ThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToans_DonHangs_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHangs] ([Id])
GO
ALTER TABLE [dbo].[ThanhToans] CHECK CONSTRAINT [FK_ThanhToans_DonHangs_DonHangId]
GO
ALTER TABLE [dbo].[YeuThichs]  WITH CHECK ADD  CONSTRAINT [FK_YeuThichs_NguoiDungs_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuThichs] CHECK CONSTRAINT [FK_YeuThichs_NguoiDungs_NguoiDungId]
GO
ALTER TABLE [dbo].[YeuThichs]  WITH CHECK ADD  CONSTRAINT [FK_YeuThichs_SanPhams_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPhams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuThichs] CHECK CONSTRAINT [FK_YeuThichs_SanPhams_SanPhamId]
GO
